# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Data artifacts
data/processed/*.csv
data/processed/*.parquet

# Models (DO NOT PUSH LARGE FILES)
models/*.joblib
models/*.keras
models/*.h5
models/*.pt
models/*.pth

# Notebooks
.ipynb_checkpoints/

# OS / IDE
.DS_Store
.idea/
.vscode/
